
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    width: 100%;
    background-color: #063029;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;

    border: 2px solid white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    background-color: #0c5d50;
    height: 700px
}

h1{
    color: #20d69a;
}
h1 span{
    color:#cb2e06;
    text-shadow: 2px 2px 4px #000000b3;
}

.cards{
    display: flex;
    column-gap: 20px;
    width: 430px;
}
.cards img{
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.20);
}

.message{
    width: 430px;
    height: 320px;
    border: 1px solid red;
    border-radius: 10px;
    padding: 20px;
}
.message-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.20);

    border-radius: 10px;

    height: 100%;
    color: white;
}
#message-icon{
    font-size: 60px;
}


.handlers{
    width: 430px;
}
.score{
    padding: 15px;
    background-color: #cb2e06;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    display:flex ;
    justify-content: center;
    column-gap: 20px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.buttons button{
    padding: 15px;
    width: 30%;
    border:  none;
    border-radius: 10px;
    background-color: #20d69a;
}
.buttons button:hover{
    background-color: #eae9e9;
}
.buttons button:disabled{
    background-color: #20d69982;
}