@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.turno-display {
    width: 500PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .numero-turno {
    font-size: 6rem;
    font-weight: bold;
    margin: 0;
  }
  
  .texto-turno {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
  }

  /* input de recogida de turno */
  .input{
    width: 500PX;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    display: flex;
    column-gap: 10px;
    justify-content:center ;
    align-items: center;

  }
  .input input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #00b7ff;
    padding: 5px 15px;
  }
  #update{
    width: 100px;
    height: 40px;

    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #ffc800;
    cursor: pointer;
  }

  /* botones */
  .botones{
    width: 500PX;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  }
  .botones button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #00b7ff;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  .botones button:hover{
    background-color: #ffc800;
  }
  .botones .reset-button{
    height: 40px;
    width: 250px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #b2b2b2;
    color: white;
    font-size: 20px;
    font-weight: initial;

  }