/* Importación de Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Custom properties */
:root {
    --white: #ffffff;
    --black: #000000;

    --card_fontSize: 16px;

    --screen_width: 1280px;

    --size8: 8px;
    --size16: 16px;
    --size32: 32px;
}

/* limpiador */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    width: var(--screen_width);
    width: 100vw;
    font-weight: 300;
}

/* barra de navegacion */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid black;
    padding: var(--size16);

    position: fixed;
    top: 0;
    z-index: 99;

    background-color: var(--white);
}
.navbar .links {
    display: flex;
    align-items: center;
}

.navbar .links a {
    padding: var(--size16);
    font-size: var(--size16);
    text-decoration: none;
    color: inherit;
}

.navbar .links a:hover{
    background-color: #f5f5f5;
    border-radius: var(--size16);
}


/* contenido principal */
main {
    padding: var(--size32);
    margin-top: 70px;
    z-index: 9;
    width: 100vw;
    overflow-x: hidden;

}

main h2 {
    font-size: var(--size32);
    padding: var(--size32) 0px;
}

.card-container {
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--size32);
}

.card {
    width: fit-content;
    margin: 0px var(--size16);
}

.card img {
    border-radius: var(--size16);
}

.card-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: var(--size8);
}

/* footer */
footer {
    background-color: var(--black);
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--size32);

    color: var(--white);
    font-size: var(--size16);
}

.link-block {
    display: flex;
    align-items: center;
    column-gap: var(--size8);
}

.link-block div {
    display: flex;
    align-items: center;
    column-gap: var(--size8);
    padding: var(--size8);
    background-color: var(--white);
    border-radius: 50%;
}



/* media queries */
@media (max-width: 1100px) {

    /* barra de navegacion */
    .navbar {
        display: flex;
        justify-content: center;
    }

    .navbar .links {
        display: none;
    }


    /* footer */
    footer {
        display: flex;
        flex-direction: column;
    }

    .link-block {
        border-bottom: 2px solid var(--white);
        width: 100%;
        padding: var(--size32);
    }
}
