
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(29, 29, 29);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-cards-container{
  width: 80%;
  border: 2px solid blue;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}
.card-container {
  border: 2px solid white;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px; /* Añade perspectiva para efecto 3D */
}
/* Añade estilos para la animación de giro */
@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
.flip-effect {
  animation: flip 0.6s forwards; /* Aplica la animación */
}


.image-card {
  width: 100%;
  /* Asegúrate de que el giro se vea desde el frente y el dorso */
  backface-visibility: hidden;
}